@font-face {
  font-family: "main";
  src: url("../fonts/main.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "main";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/assets/retrobg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: "main";
}
